* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

/* debug */

.debug .row {
    border: 1px solid red;
    padding: 10px;
}

.debug [class^="col"] {
    border: 1px solid orange;
    padding: 20px;
}